{#<nav>#}
{#	<div class="dropdown">#}
{#		<div class="dropdown-content ">#}
{#			<a href="{{ path('kentnisse') }}">Kentnisse</a>#}
{#			<a href="{{ path('lebenslauf') }}">Lebenslauf</a>#}
{#			<a href="{{ path('about') }}">Startseite</a>#}

{#		</div>#}
{#		<button class="Mehr">^</button>#}
{#		<h1 class="name">Nils Schmidt</h1>#}
{#	</div>#}
{#</nav>#}


{#<nav class="nils-navbar">#}

{#    <div class="nils-navbar-hider">#}
{#        <p>#}
{#            <a href="{{ path('kentnisse') }}">Kentnisse</a>#}
{#        </p>#}
{#        <p>#}
{#            <a href="{{ path('lebenslauf') }}">Lebenslauf</a>#}
{#        </p>#}
{#        <p>#}
{#            <a href="{{ path('about') }}">Startseite</a>#}
{#        </p>#}

{#        <h1>Nils Schmidt</h1>#}
{#    </div>#}

{#</nav>#}

{# todo: navbar fixen #}
{#<style>#}
{#    .nils-navbar {#}
{#        height: 30px;#}
{#        transition: all ease-in-out 1s;#}
{#        position: relative#}
{#    }#}

{#    .nils-navbar .nils-navbar-hider {#}
{#        opacity: 0;#}
{#        width: 100%;#}
{#    }#}

{#    .nils-navbar h1 {#}
{#        text-align: center;#}
{#        display: block;#}
{#    }#}

{#    .nils-navbar div {#}
{#        text-align: center;#}
{#        width: 150px;#}
{#        display: block;#}
{#    }#}

{#    .nils-navbar:hover .nils-navbar-hider {#}
{#        opacity: 100%;#}
{#    }#}

{#    .nils-navbar:hover {#}
{#        height: 150px;#}
{#    }#}

{#    @media only screen and(max-width: 768px) {#}
{#        .nils-navbar {#}
{#            height: 150px !important;#}
{#        }#}
{#    }#}
{#</style>#}
