<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nils Schmidt {% block title %}{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

{# {% include 'elements/navbar.html.twig' %} #}
{% block body %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{#<script src="{{ asset('js/animejs/animejsPlugins-all.js') }}"></script>#}
{#<script src="{{ asset('js/animejs/animejsPlugins-scrollContainer.js') }}"></script>#}
<script src="{{ asset('js/app.js') }}"></script>








{% block javascripts %}
{% endblock %}

</body>
</html>





{#TEST#}


{#<body style="font: normal Arial, Helvetica, sans-serif;">#}
{#    <div style="font: normal 10pt;">#}
{#        <p>Mit freundlichen Grüßen / With kind regards<br>#}
{#        <br>#}
{#        <strong>Nils Schmidt</strong></p>#}

{#    </div>#}


{#    <div style="margin-left: 150pt; font: normal 9pt Arial, Helvetica, sans-serif;">#}

{#                <p >#}
{#                    <strong>INTERTRONIC IT GmbH</strong><br>#}
{#                    Spiesheimer Weg 42 - 46<br>#}
{#                     D-55286 Wörrstadt<br>#}
{#                    Telefon:  +49 6732 / 97- 1316<br />#}
{#                     Mobil: +49 174 3441582<br /><br /></p>#}
{#    </div>#}


{#     <div style="font: normal 10pt;">#}

{#    <p>E-Mail: <a href="n.schmidt@intertronic.de" style="color: #003871;">n.schmidt@intertronic.de</a></p>#}
{#    <p>&nbsp;</p>#}
{#     </div>#}


{#    <div style="margin-left:150pt; color:#ff0000; font: normal 9pt">#}
{#         <p>(Beachten Sie bitte: Ab dem 15.10.2021 neue Rufnummern!)</p>#}

{#    </div>#}


{#    <div style="font: normal 8pt;">#}


{#        <p>INTERTRONIC IT GmbH<br>#}
{#        Handelsregister: Amtsgericht Mainz, HRB-Nr. 32810 <br>#}
{#        Geschäftsführer: Matthias Bingenheimer <br>#}
{#        Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie nicht der richtige Adressat sind oder diese E-Mail irrtümlich erhalten haben, informieren Sie bitte sofort den Absender und vernichten Sie diese E-Mail.<br>#}
{#        Das unerlaubte Kopieren sowie die unbefugte Weitergabe dieser E-Mail ist nicht gestattet.<br>#}
{#        If you are not the addressee, please inform us immediately that you have received this e-mail by mistake, and delete it. We thank you for your support.#}
{#        </p><br>#}

{#    </div>#}

{#</body>#}
